html, body {
    height:100%;
    background-image: url("../img/commodore_pet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#game {
    height: 100%;
}

*[id^="life-"] {
    height: 50px;
    width: 50px;
    padding-left: 10px;
}

*[id^="life-"].lost .life-fill {
    fill: #696969;
}
*[id^="life-"].lost .life-additional {
    fill: #B0B0B0;
}
.life-fill {
    fill: #C03A2B;
}

.life-additional {
    fill: #ED7161;
}

.md-modal {
    position: fixed;
    top: 30%;
    left: 35%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;

}
.modal-backdrop.show{
    opacity: 0;
}