html, body {
    height:100%;
    background-image: url("../img/commodore_pet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#game {
    height: 100%;
}

*[id^="life-"] {
    height: 50px;
    width: 50px;
    padding-left: 10px;
    margin-top: 8px;
}

*[id^="life-"].lost .life-fill {
    fill: #696969;
}
*[id^="life-"].lost .life-additional {
    fill: #B0B0B0;
}
.life-fill {
    fill: #C03A2B;
}

.life-additional {
    fill: #ED7161;
}

.md-modal {
    position: fixed;
    top: 30%;
    left: 35%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    padding: 3px;
}
.modal-backdrop.show {
    opacity: 0;
}

.progress-bar {
    width: 506px;
    height: 26px;
    background-color: #bbb;
    border-radius: 13px;
    margin: 20px auto;
}

.progress {
    width: 0px;
    height: 20px;
    border-radius: 10px;
    background-color: dodgerblue;
}

.score h3 {
    margin-top: 12px;
    margin-left: 10px;
}